# SPDX-FileCopyrightText: 2025 Benno Bielmeier
#
# SPDX-License-Identifier: CC0-1.0

root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.php]
indent_style = tab
indent_size = 4

[*.{svg,webmanifest,xml}]
insert_final_newline = false

[*.yml]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[*.{mo,po,pot}]
indent_style = unset
indent_size = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
