# SPDX-FileCopyrightText: 2025 Benno Bielmeier
#
# SPDX-License-Identifier: CC0-1.0
---
name: Build

"on":
  push:
    branch: [master]
  pull_request:
    branch: [master]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/upload-artifact@v5
        with:
          name: wp-roundhousekick
          if-no-files-found: error
          path: |
            ./
            !.*
            !CODE_OF_CONDUCT.adoc
            !composer.*
            !devenv.*
            !phpcs.xml
