# SPDX-FileCopyrightText: 2025 Benno Bielmeier
#
# SPDX-License-Identifier: CC0-1.0

---
name: EditorConfig Checker
"on":
  pull_request:
  push:

permissions:
  contents: read

jobs:
  editorconfig:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Install editorconfig-checker
        uses: editorconfig-checker/action-editorconfig-checker@main
      - name: Run editorconfig-checker
        run: editorconfig-checker
