# SPDX-FileCopyrightText: 2025 Benno Bielmeier
#
# SPDX-License-Identifier: CC0-1.0

---
name: Reviewdog

"on": [pull_request]

permissions:
  contents: read
  pull-requests: write

jobs:

  yamllint:
    name: runner / yamllint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: yamllint
        uses: reviewdog/action-yamllint@v1
        with:
          reporter: github-pr-review

  detect-secrets:
    name: runner / detect-secrets
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: detect-secrets
        uses: reviewdog/action-detect-secrets@v0
        with:
          reporter: github-pr-review

  languagetool:
    name: runner / languagetool
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: languagetool
        uses: reviewdog/action-languagetool@v1
        with:
          reporter: github-pr-review
          level: info
